body {
  font-family: "montserrat", sans-serif;
  margin-top: 120px;
  background-color: white;
  color: #2a405b;
}

.background {
  text-align: center;
  width: 430px;
  height: 430px;
  margin: auto;
}
p {
  padding-top: 25px;
  font-size: 30px;
  text-align: center;
  margin: 10px;
}

.pass {
  width: 110%;
  margin-bottom: 30px;
  margin-left: 81px;
  text-align: left;
}
.form {
  padding: 10px;
  border-radius: 30px;
  margin-top: 0px;
  box-shadow: 0px 0px 10px 2px #3333331a;
  animation-name: animation;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

@keyframes animation {
  from {
    box-shadow: 0px 0px 10px 2px #3333331a;
  }
  to {
    box-shadow: 0px 0px 4px 1px #7171714d;
  }
}
.textplace {
  width: 50%;
  margin: auto;
  padding: 10px;
  border: 1px solid black;
  border-radius: 7px;
  text-align: left;
  text-indent: 8px;
  border-color: #2a405b30;
  font-weight: 300;
  color: #2a405b;
  box-shadow: 1px 1px 1px #6b6b6bcc, 1px 0px 1px rgb(255 255 255);
}

input:focus {
  outline: none;
  background: #2a405b21;
}

.button {
  margin-top: 25px;
  margin-left: 78px;
  background-color: #2a405b;
  border: 2px solid white;
  border-radius: 15px;
  padding: 4px;
  color: white;
  width: 80px;
}

.button:hover {
  background-color: black;
  color: white;
}

.button:disabled {
  background-color: gray;
  cursor: not-allowed;
}
